In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [7]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [9]:
#A Series is a one-dimensional labeled array, and a DataFrame is a two-dimensional table-like data structure in pandas.

In [11]:
#q5)What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [12]:
#shape: This attribute returns a tuple representing the dimensions of the DataFrame (rows, columns).

In [13]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [14]:

#In pandas, Series and DataFrame are mutable, meaning you can modify their content after creation. However, Panel is considered deprecated and is no longer a part of the core pandas library as of version 0.25.0.

In [15]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.